<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - Movie Database</title>
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/superhero.css" rel="stylesheet" />
    <link href="~/Content/superhero.min.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="wrapper col-lg-12">
                <header class="page-header">
                    <section class="col-lg-12">
                        <ul class="nav navbar-fixed-top nav-tabs">
                            <li><a href="~/default.cshtml" class="h4 alert-success">Home</a></li>
                            <li><a href="~/Create.cshtml" class="h4 alert-success">Add Movie</a></li>
                            @*<li><a href="~/Parks.cshtml" class="h3 text-primary">Utah Parks</a></li>
                                <li><a href="~/Form.cshtml" class="h3 text-primary">Register</a></li>
                                <li><a href="~/About.cshtml" class="h3 text-primary">About Me</a></li>*@
                        </ul>
                    </section>
                </header>
            </div><!-- row -->
        </div><!-- container -->


        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix JustifyCenter">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="navbar-fixed-bottom">&copy; @DateTime.Now.Year - Andre Myers</p>
                </div>
            </div>
        </footer>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>