<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="@Href("~/Shared/style.css")" type="text/css" />
    </head>
    <body>
        <div class="wrapper">
            <header>
                @RenderPage("~/Shared/_Header.cshtml")
            </header>

            <aside>
                @RenderSection("sidebar", false)
            </aside>

            <div class="content">
                @RenderBody()
            </div>

            <footer>
                @RenderPage("~/Shared/_Footer.cshtml")
            </footer>

        </div>


    </body>
</html>
