<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="@Href("~/Shared/Style.css")" type="text/css" />
    <link href="~/Content/bootstrap-theme-slate.css" rel="stylesheet" />


</head>
<body>
    <div class="wrapper">
        <header>
            @RenderPage("~/Shared/_Header.cshtml")
        </header>

        <aside>
            @RenderSection("sidebar", false)
        </aside>

        <div class="tab-content">
            @RenderBody()
        </div>

        <footer>
            @RenderPage("~/Shared/_Footer.cshtml")
        </footer>

    </div>

</body>
</html>