@{
    Layout = "~/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>

    <!--Single Statement Block-->

        @{ var total = 7; }
        @{ var myMessage = "Hello World"; }

    <!--Inline Expression-->

        <p>The value of your account is: @total</p>
        <p>The value of my message is: @myMessage</p> 
      

    <!--Multi Line Block-->

        @{ var greeting = "Welcome to our site!  ";
            var weekDay = DateTime.Now.DayOfWeek;
            var greetingMessage = greeting + "Today is: " + weekDay;

        }

        <!--Multi Line Block-->
            @{ var outsideTemp = 79;
                var weatherMessage = "Hello, it is " + outsideTemp + " degrees.";
                <p>Today's Weather: @weatherMessage</p>
                }

        <p>Welcome to all new members. @greetingMessage</p>

        <!--Embedding Escape Characters-->
            @{ 
                var myFilePath = @"C:\myFolder\";
                <p>The file path is @myFilePath</p>

                var myQuote = @"""To be or not to be.""";
                <p>My quote is @myQuote</p>
            }

    <table border="1">
        <tr>
            <td>Request URL</td>
            <td>Relative Path</td>
            <td>Full Path</td>
            <td>HTTP Request Type</td>
        </tr>

        <tr>
            <td>@Request.Url</td>
            <td>@Request.FilePath</td>
            <td>@Request.MapPath(Request.FilePath)</td>
            <td>@Request.RequestType</td>
        </tr>
    </table>


    </body>

</html>
